html body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* wrapper to surround flex elements */

.wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
}

/* divider for giving an accent line */

.divider {
    width: 100%;
    border: 1px solid #47ff2f;
    border-radius: 2px;
    margin: 1rem 0;
}

/* wrapper containing the filter elements */
#filterWrapper {
    margin-top: 5rem;
    
}