html body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* wrapper to surround flex elements */

.wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
}