#nav {
    height: 4rem;
    width: 100%;
    background-color: #999999;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    top: 0;
    left: 0;
    -o-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
    z-index: 7;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/* inner wrap surrounding all the content */

.navInnerContentWrap {
    display: none;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: hidden;
}

/* logo image */

.navLogo {
    height: 4rem;
    margin-left: .5rem;
}

/* wrapper surrounding each of the nav links */

.navLinkWrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
}

/* each navigation link */

.navLink {
    margin: 0 .5rem;
    text-decoration: none;
    cursor: pointer;
    -o-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
    color: #000000;
}

.navSpan {
    font-weight: 500;
    font-size: 1.3rem;
    text-decoration: none;
    letter-spacing: .05rem;
    display: inline-block;
    padding: .3rem 0;
    position: relative;
}

.navSpan:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #47ff2f;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.navSpan:hover:after {
    width: 100%;
    left: 0;
}

/* ! MOBILE NAV */

/* wrapper around the menu icon */

#mobileNav {
    display: none;
    align-items: center;
    width: 100%;
}

/* wrapper around the menu icon */

.menuIconWrap {
    margin-left: auto;
}

/* menu icon for opening the mobile nav */

.menuIcon {
    color: #32af01;
    font-size: 2.5rem;
    margin: 0 1rem 0 0;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.95);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    text-align: center;
    margin-top: 10rem;
    width: 100%;
    overflow: hidden;
}

.mobileNavLink {
    margin: 1rem 0;
    text-decoration: none;
    font-size: 2rem;
    color: #ffffff;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.closebtn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 4rem;
    color: #32af01;
    font-weight: 600;
    text-decoration: none;
}

/* logo for the overlay content */

.mobileOverlayLogo {
    height: 10rem;
}