/* Wrapper around the form */

#createWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 30rem;
}

/* form element */

#createForm {
    width: 100%;
    display: block;
    background-color: #500192;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .3);
    border-radius: 5px;
    padding: 1rem;
}

/* general style of inputs */

.input {
    display: block;
    width: 100%;
    padding: .3rem;
    border-radius: 4px;
    border: 1px solid white;
    outline: none;
    font-size: 1rem;
    margin: 1rem 0;
}

/* preview images */

.prevImages {
    width: 100%;
    max-width: 8rem;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, .3);
}

/* form submit button el */

#submitBtn {
    margin: 1rem 0;
    font-size: 1rem;
}

