/* resource card that contains all the resource data */

.resourceCard {
    width: 100%;
    max-width: 60rem;
    height: auto;
    padding: 1rem;
    background-color: #500192;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .4);
    border-radius: 5px;
    margin: 1rem;
}

/* title of the card */

.resourceTitle {
    color: white;
    font-size: 1.4rem;
    margin: 0;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.resourceTitle:focus {
    text-decoration: none;
}

.resourceTitle:hover {
    color: #47ff2f;
    cursor: pointer;
}

/* resource date */

.resourceDate {
    color: white;
    font-size: .8rem;
}

/* description for each card */

.resourceDesc {
    color: white;
    margin: 0;
    font-size: 1rem;
}

/* resource images/screenshots */

.screenShots {
    width: 100%;
    max-width: 15rem;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .3);
    margin: 2rem 0;
}

/* github link icon */

.fa-github {
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.fa-github:hover {
    color: #47ff2f;
}

/* category text */

.resourceCat {
    color: white;
    margin: 0 .3rem;
    font-size: .8rem;
}

/* no resources text */

#noResources {
    display: none;
    text-align: center;
}