/* container to hold the data of the resource */

#resourceContainer {
    margin-top: 5rem;
}

/* delete button inside the navbar */

#deleteBtn {
    font-size: 1rem;
    background-color: #47ff2f;
    color: black;
    border-radius: 4px;
    border: 1px solid #47ff2f;
    font-weight: 600;
}

/* resource card that contains all the resource data */

.resourceCard {
    width: 100%;
    max-width: 60rem;
    height: auto;
    padding: 1rem;
    background-color: #500192;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .4);
    border-radius: 5px;
    margin: 1rem;
}

/* title of the card */

.resourceTitle {
    color: white;
    font-size: 1.4rem;
    margin: 0;
}

/* resource date */

.resourceDate {
    color: white;
    font-size: .8rem;
}

/* description for each card */

.resourceDesc {
    color: white;
    margin: 0;
    font-size: 1rem;
}

/* resource images/screenshots */

.screenShots {
    width: 100%;
    max-width: 25rem;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .3);
    margin: 2rem 0;
}

/* github link icon */

.fa-github {
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.fa-github:hover {
    color: #47ff2f;
}

/* category text */

.resourceCat {
    color: white;
    margin: 0 .3rem;
    font-size: .8rem;
}

/* editing form element */

#editForm {
    width: 100%;
    max-width: 40rem;
}

/* labe for all the edit inputs */

.editLabel {
    color: white;
    font-size: 1.2rem;
}

/* editing input elements */

.editInput {
    display: block;
    width: 100%;
    padding: .3rem;
    border-radius: 4px;
    border: 1px solid white;
    outline: none;
    font-size: 1rem;
    margin-top: .5rem;
}

/* the images that were already saved to the resource that are now being rendered in the edit section */

.editCurrentImg {
    width: 100%;
    max-width: 15rem;
    margin: 1rem .5rem;
    border-radius: 5px;
}

.removeImgIcon {
    color: rgb(0, 0, 0);
    position: absolute;
    top: .5rem;
    left: -.2rem;
    background-color: #47ff2f;
    padding: .4rem;
    height: 1.8rem;
    width: 1.8rem;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 10px 12px rgba(0, 0, 0, .4);
}

/* preview images */

.prevImages {
    width: 100%;
    max-width: 12rem;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .3);
}

/* save button for the edit form */
#editSaveBtn {
    
}